body{
    color: white;
    background-color: black;
}

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 50;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;

    animation: fadeContent 5s;
}


h1{
    font-size: 3rem;
    width: 50vw;
    line-height: 97%;
    text-align: center;
    color: white;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

h1, h3{
    flex-basis: 0;
    flex-grow: 2;

}

.buttonWrapper{
    align-self: center;
}

.buttonWrapper{
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .authButton{
        font-size: 22px;
        border-radius: 50px;
        padding: 10px;
        color: white;
        background-color: green;
        border: none;
        outline: none;
        margin-bottom: 15px;
        z-index: 50;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin-right: 25px;
        width: 10%;
        max-width: 150px;

        animation: fadeButton 5s;
    }

    button:hover {
        cursor: pointer;
    }

    .authButton:hover{
        color: green;
        background-color: white;
    }

    @keyframes fadeContent{
        from{opacity: 0;}
        to{ opacity: 1;}
    }

    @keyframes fadeButton {
        from{opacity: 0;}
        to{opacity: 1;}
    }
