body{
  padding: 0;
  margin: 0;
  height: 200%;
  overflow: auto;

}

*::-webkit-scrollbar {
  display: none;
}

.home-page{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.left-content{
 width: 80%;
 margin-top: 20%;
}

.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.middle-content{
  width: 100%;
}

.news__title {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-graph-container{
  border: 1px solid white;
}

.right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.right-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30%;

}

.accordian{
  text-align: left;
}

.indv-watch{
  width: 80%
}

.watchlist__btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1.5px white solid;
  padding-left: 10px;
  padding-right: 10px;
}

.add__ticker__btn {
  color: white;
  border: none;
  background: none;
}

.plus__sign {
  transform: scale(1.3);
  color: white;
}

.plus__sign:hover {
  color: rgb(0, 223, 0);
}

.edit__watchlist__btn {
  color: white;
  border: none;
  background: none;
}

.edit__pen {
  transform: scale(1.3);
  color: white;
}

.edit__pen:hover {
  color: rgb(255, 238, 0);
}

.trash__btn {
  color: white;
  border: none;
  background: none;
}

.trash {
  transform: scale(1.3);
  color: red;
}

.trash:hover {
  color: rgb(233, 29, 29);
}

.accordion {
  color: white;
  border: none;
  background: none;
}

.accordion:hover {
  color: rgb(0, 223, 0);
}

.trash__can {
  color: red;
}

.trash:hover {
  transform: scale(1.4);
}

.add__new__watchlist {
  color: rgb(0, 223, 0);
  transform: scale(2.25);
}

.add__new__watchlist:hover {
  color: white;
}

.my__watchlists__btn {
  border: 1.5px white solid;
  color: white;
  background-color: green;
  width: 80%;
}

.my__watchlists__btn:hover {
  background-color: rgba(0, 128, 0, 0.664);
}

#icons{
  display: flex;
}

.add__watchlist__btn {
  border: 1.5px white solid;
  padding: 25px;
  background: none;
  width: 80%;
}

.add__watchlist__btn:hover {
  color: white;
}

.add__watchlist__input {
  padding-left: 15px;
  height: 35px;
  width: 300px;
}

.add__list__container {
  border: 1.5px white solid;
  padding-top: 25px;
  padding-bottom: 25px;
}

.submit__watchlist__btn {
  font-size: 12pt;
  margin-top: 15px;
  margin-left: 15px;
  background: none;
  border: none;
  color: rgb(0, 199, 0);
}

.submit__watchlist__btn:hover {
  color: white;
}

.edit__watchlist__container {
  border: 1.5px white solid;
  padding-top: 15px;
  padding-bottom: 15px;
}

.edit__watchlist__input {
  padding-left: 15px;
  height: 35px;
  width: 300px;
}

.my-watchlist-table td {
  font-size: 20px;
}

.news__container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* left: 50%;
  bottom: 0; */
  /* transform: translateX(-50%); */

}

.news__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px rgba(255, 255, 255, 0.589) solid;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.news__content img:hover {
  transform: scale(1.05);
}

.news__heading {
  text-align: left;
  font-size: 28px;
}

.news__article {
  font-size: 20px;
}

.news__image {
  margin-left: 25px;
  margin-right: 15px;
  height: 60px;
}
