.accordion-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 70%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 250px;
  }

.accordion:hover {
    background-color: #000;
  }
