* {
    box-sizing: border-box;
}

body {
    margin: 0;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}

.products__tab, .learn__tab, .whoweare__tab, svg {
    transform: translateY(25%);
    text-decoration: none;
    display: inline-block;
}

.all__links {
    margin-bottom: 0.5%;
}

.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 24px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.navbar NavLink {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.menuNav.showMenu {
    width: 100%;
}

.menuNav li:first-child {
    margin-top: 7rem;
}

.right-nav {
    padding-top: 2%;
}

.profile-menu {
    appearance: none;
    background: transparent;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    outline: none;
    overflow: visible;
    padding: 5px 5px 5px 12px;
    text-align: inherit;
    text-decoration: none;
    user-select: auto;
    -webkit-align-items: center;
    align-items: center;
    /* background-color: #FFFFFF; */
    border-radius: 21px;
    height: 42px;
    /* background-color: red; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.7%;
    color: grey;
    margin-bottom: 0.8%;
    transform: scale(2.5);
}

.logo:hover {
    transform: scale(2.7);
    cursor: pointer;
}

.fa-shuttle-van {
    transform: scale(1.5);
    margin-right: 10px;
    color: #FF5A5F;
}

.fa-caravan {
    color: #FF5A5F;
}


.fa-bars {
    padding-right: 10px;
}

.fa-user-circle {
    transform: scale(1.4);
    padding-top: 3px;
    padding-right: 10px;
    height: 20px;
    width: 20px;
}

.profile-dropdown {
    padding: 35px;
    margin-right: 0.5%;
    position: absolute;
    right: 0;
    margin-top: 1%;
    border: black 1.5px solid;
}

/* .Dd-username {
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    padding-bottom: 15px;
} */

.Dd-email {
    list-style: none;
    padding-bottom: 45px;
}

.logout-btn {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #FF5A5F;
    background-color: white; /* Green */
    border: 2px solid #FF5A5F;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer;
}

.logout-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF5A5F;
    color: white;
}

.learn__tab {
    font-size: 13pt;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    align-self: center;
    margin-right: 15px;
    margin-left: 10px;
    display: inline-block;
}

.learn__tab::after {
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: grey;
  transition: 300ms;
}

.learn__tab:hover::after {
  width: 100%;
}

.products__tab {
    font-size: 13pt;
    font-weight: bold;
    color: grey;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 10px;
    display: inline-block;
}

.products__tab::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: grey;
    transition: 300ms;
  }

  .products__tab:hover::after {
    width: 100%;
  }

  .whoweare__tab {
    font-size: 13pt;
    font-weight: bold;
    color: grey;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 10px;
    display: inline-block;
}

.whoweare__tab::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: grey;
    transition: 300ms;
  }

  .whoweare__tab:hover::after {
    width: 100%;
  }

.demo-user {
    background-color: white; /* Green */
    border: 2px solid #FF5A5F;
    color: #FF5A5F;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
    cursor: pointer;
  }

.demo-user:hover {
  background-color: #FF5A5F;
  color: white;
}
