* {
    box-sizing: border-box;
}

body {
    margin: 0;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}

.products__tab, .learn__tab, .whoweare__tab, svg {
    transform: translateY(25%);
    text-decoration: none;
    display: inline-block;
}

.all__links {
    margin-bottom: 0.5%;
    margin-left: 17.5%;
    margin-right: 44.6%;
}

.user__balance {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 4%;
    margin-right: 12.5%;
}

.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 80px;
    padding: 0 24px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.navbar NavLink {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
}

.menuNav {
    list-style:none;
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 5%;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.menuNav a {
    color: white;
    font-size: 16pt;
    text-decoration: none;
}

.menuNav a:hover {
    color: rgb(160, 160, 160);
}

.menuNav:hover {
    background-color: black;
}

.wrapper {
    margin-right: 80%;
}

.menuNav.showMenu1 {
    border: 2px solid rgb(136, 136, 136);
    margin-top: 3%;
    width: 100%;
    background-color: rgb(87, 87, 87);}

.menuNav.showMenu2 {
    border: 2px solid rgb(136, 136, 136);
    margin-top: 3%;
    width: 100%;
    background-color: rgb(87, 87, 87);}

#learn__container {
    padding: 0;
    z-index: 1000;
    min-height: 90px;
    height: 7.1%;
}

#whoweare__container {
    /* margin: 0; */
    padding: 0;
    z-index: 1000;
    min-height: 221px;
    height: 16%;
}

.profile-menu {
    appearance: none;
    background: transparent;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    outline: none;
    overflow: visible;
    padding: 5px 5px 5px 12px;
    text-align: inherit;
    text-decoration: none;
    user-select: auto;
    -webkit-align-items: center;
    align-items: center;
    /* background-color: #FFFFFF; */
    border-radius: 21px;
    height: 42px;
    /* background-color: red; */
}

.profile-menu:hover {
    transform: scale(1.04);
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.7%;
    color: grey;
    /* margin-bottom: 0.8%; */
}

.logo {
    color: grey;
    transform: scale(2.5);
}

.logo:hover {
    transform: scale(2.7);
    cursor: pointer;
}

.fa-shuttle-van {
    transform: scale(1.5);
    margin-right: 10px;
    color: #FF5A5F;
}

.fa-caravan {
    color: #FF5A5F;
}

.fa-bars {
    padding-right: 10px;
}

.fa-user-circle {
    transform: scale(1.4);
    padding-top: 3px;
    padding-right: 10px;
    height: 20px;
    width: 20px;
}

.profile-dropdown {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14pt;
    width: 10%;
    padding: 1px;
    margin-right: 0.5%;
    position: absolute;
    right: 0;
    margin-top: 1%;
    background-color: rgb(87, 87, 87);
    border: rgb(109, 109, 109) 5px solid;
}

.Dd-username {
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: 14pt;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

.username__container {
    border-bottom: 1px black solid;
}

.Dd-email {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    padding-bottom: 15px;
}

.email__container {
    border-bottom: 1px black solid;
}

.my__profile {
    text-decoration: none;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    padding-bottom: 15px;
    margin-left: 10px;
}

.my__profile:hover {
    color: rgb(160, 160, 160);
}

.my__profile__container {
    border-bottom: 1px black solid;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-right: 6%;
}

.my__profile__container:hover {
    color: rgb(255, 251, 0);
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    background-color: rgb(194, 0, 0);
    border: 2px solid rgb(194, 0, 0);
    border-radius: 50px;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11.5pt;
    margin: 2% 30%;
    transition-duration: 0.4s;
    margin-top: 8%;
    margin-bottom: 5.5%;
    cursor: pointer;
}

.logout-btn:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.657);
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid rgb(226, 0, 0);
    background-color: rgb(226, 0, 0);
    color: white;
}

.learn__tab {
    font-size: 13pt;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    align-self: center;
    margin-right: 15px;
    /* margin-left: 10%; */
    display: inline-block;
}

.learn__tab::after {
  content: '';
  width: 0px;
  height: 4px;
  display: block;
  background: grey;
  transition: 300ms;
}

.learn__tab:hover::after {
  width: 100%;
}

.learn__tab:hover {
    cursor: pointer;
}

.stocks__info__container {
    border-bottom: 1px black solid;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4%;
    padding-bottom: 4%;
}

.latest__news__container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4%;
    padding-bottom: 4%;
}

.latest__news__container:hover {
    background-color: rgb(68, 68, 68);
}

.stocks__info__container:hover {
    background-color: rgb(68, 68, 68);
}

.whoweare__tab {
    display: inline-block;
    align-items: center;
    color: grey;
    font-size: 13pt;
    font-weight: bold;
    text-decoration: none;
}

.whoweare__tab::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: grey;
    transition: 300ms;
}

.whoweare__tab:hover::after {
    width: 100%;
}

.whoweare__tab:hover {
    cursor: pointer;
}

.github__container {
    border-bottom: 1px black solid;
    padding-top: 5%;
    padding-bottom: 5%;
}

.github__container:hover {
    background-color: rgb(68, 68, 68);
}
