
#title{
    border: solid 1px white;
}

.graph-title {
    border: solid 2px white;
}

.stock__detail__graph {
    /* background-color: red; */
    width: 1280px;
}

.all-kpi{
    display: flex;
    justify-content: space-around;
    font-size: 14pt;
}

.grid-area-template div {
    font-size: 50;
}

.kpi p {
    color: rgb(20, 242, 0);

}

#watchlistbutton{
    width: 50%;
}

.Order66 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.Order66 input {
    text-align: center;
    font-size: 12pt;
    width: 12%;
}


#buybutton, #sellbutton {
    border-radius: 50px;
    padding-top: .5%;
    padding-bottom: .5%;
    width: 8%;
    border: none;
    outline: none;
    font-size: 24px;
}

#buybutton:hover, #sellbutton:hover {
    transform: scale(1.03);
    cursor: pointer;
}


#buybutton {
    background-color: green;
    color: white;
}

#sellbutton {
    background-color: red;
    color: white;
}

.notabutton {
    background-color: rgb(255, 255, 7);
    font-size: 16px;
    width: 14%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    color: black;
    border: none;
}

#buyprice {
    color: rgb(6, 220, 6);
    font-weight: bold;
}

#sellprice {
    color: red;
    font-weight: bold;
}
