.my-stonks-table{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: ease-in-out;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th,
td{
    border: 1px solid white;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}

th{
    background-color: green;
}

.tablestonks {
    display: flex;
    flex-direction: column;
    transition: ease-in-out;
    gap: 10px;
    background-color: black;
}

#linktostonk {
    color: white;
    text-decoration: none;
}

#linktostonk:hover {
    color: rgb(66, 227, 34);
    text-decoration: underline;
}
