.auth-button{
    font-size: 22px;
    border-radius: 50px;
    padding: 10px;
    color: white;
    background-color: green;
    border: none;
    outline: none;
    margin-bottom: 15px;
    z-index: 50;
    margin-bottom: 25px;
    display: flex;
    align-items: space-around;
    justify-content: space-between;
    overflow: hidden;
    margin-right: 25px;
    width: 10%;

    animation: spreadButton 4s;
}


.auth-button:hover{
    color: green;
    background-color: white;
}




@keyframes spreadButton{
    from{width: 0%;}
    to{ width: 10%;}
}
