.search__bar input[type=text] {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-right: 35%;
    border: none;
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: 5%;
    font-size: 12pt;
}

.search_container {
    display: flex;
    flex-direction: column;
    width: 17%;

}


#search_results {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    list-style: none;
    background-color: gray;
    width: 16.5%;
    position: absolute;
    margin-top: 3%;
}


.test{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    text-align: left;
}
